/** 共通設定 **/
// フレックス設定
.flex-box {
	display: flex;
	justify-content: space-around;
	&--space-between {
		justify-content: space-between;
	}
	&-no-sp {
		@media screen and (max-width: $sp-max-width) {
			display: block;
		}
	}
}
// 表示設定
.inline-block {
	display: inline-block;
}

// ヘッダー固定分の高さ分のスペーサー
.spacer-for-header {
	height: $header-height+10px;
}

// ページ設定
.page-layout {
	width: 100%;
	height: 100%;
	background: $dark-grey;
	padding: 20px;

	// 見出し１
	.h1 {
		font-size: 30px;
		color: $white;
		// border-bottom: 2px solid $white;
		margin-bottom: $m-bottom;
		@media screen and (max-width: $sp-max-width) {
			font-size: 20px;
		}
	}

	// 見出し２
	.h2 {
		font-size: 25px;
		color: $light-blue;
		border-bottom: 3px solid $light-blue;
		margin: 0 20px $m-bottom;
		padding-bottom: 3px;
		@media screen and (max-width: $sp-max-width) {
			font-size: 20px;
			margin: 0 0 $m-bottom;
		}
	}

	// 見出し３
	.h3 {
		font-size: 20px;
		margin: 0 20px $m-bottom;
		@media screen and (max-width: $sp-max-width) {
			font-size: 20px;
			margin: 0 0 $m-bottom;
		}
	}

	// 段落
	.p {
		padding: 5px;
		margin: 0 $m-side $m-bottom;
		@media screen and (max-width: $sp-max-width) {
			margin: 0 0 $m-bottom;
		}
	}

	// 画像挿入
	.img-box {
		margin: 0 $m-side $m-bottom;
		@media screen and (max-width: $sp-max-width) {
			margin: 0 0 $m-bottom;
		}
		img {
			width: 100%;
			height: auto;
			max-width: $sp-max-width;
			border: 1px solid $white;
			@media screen and (max-width: $sp-max-width) {
				max-width: 300px;
			}
		}
	}

	// テーブル挿入
	.table-box {
		margin: 0 $m-side $m-bottom;
		width: 100%;
		overflow: scroll;
		@media screen and (max-width: $sp-max-width) {
			margin: 0 0 $m-bottom;
		}
		table {
			border-collapse: separate;
			width: 1000px;
		}
		th,td {
			padding: 10px 20px;
		}

		th {
			color: $light-blue;
			border-bottom: 2px solid $light-blue;
			text-align: left;
		}
		td {
			color: $white;
			border-bottom: 1px dotted $white;
			&::before {
				content: "-";
				padding-right: 0.5em;
			}
			&:first-child {
				&::before {
					content: "▶︎";
					padding-right: 3px;
				}
			}
		}

	}

	// ページジャンプリンク
	.page-jump {
		color: $light-blue;
		&:hover {
			background: $white-skelton;
			padding: 0 5px;
		}
	}

	// コード挿入
	.code {
		font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
		display:inline-block;
		width: 90%;
		min-width: 300px;
		overflow: scroll;
		@media screen and (max-width: $sp-max-width) {
			width: 100%;
		}
		pre {
			border: 1px solid $white;
		}

		// 右スペース
		.space {
			padding-right: 0.5em;
		}
	}

	// コマンド挿入
	.command {
		background: $white-skelton;
		color: $dark-grey;
		font-weight: bold;
		padding: 2px 5px;
		border-radius: 4px;
		display: inline-block;
	}

	// カラー
	.purple {
		color: $purple;
	}
	.blue {
		color: $blue;
	}
	.red {
		color: $red-pink;
	}
	.yellow {
		color: $yellow;
	}
	.green {
		color: $green;
	}
	.white {
		color: $white;
	}
	.brown {
		color: $brown;
	}
	.orange {
		color: $orange;
	}
	.emerald {
		color: $emerald;
	}

	// インデント
	.indent1 {
		padding-left: 2em;
	}
	.indent2 {
		padding-left: 4em;
	}
	.indent3 {
		padding-left: 6em;
	}
	.indent4 {
		padding-left: 8em;
	}
	.indent5 {
		padding-left: 10em;
	}
}
