/** 共通設定 **/
// フレックス設定
.flex-box {
	display: flex;
	justify-content: space-around;
	&--space-between {
		justify-content: space-between;
	}
}
.align-items {
	align-items: center;
}

// ページ設定
.page-layout {
	width: 100%;
	height: 100%;
	background: $dark-grey;
	padding: 20px;
	.h1 {
		font-size: 30px;
		color: $white;
		border-bottom: 2px solid $white;
		margin-bottom: 20px;
		@media screen and (max-width: $sp-max-width) {
			font-size: 20px;
		}
	}
	.h2 {
		font-size: 25px;
		color: $light-blue;
		border-bottom: 1px solid $light-blue;
		margin-bottom: 20px;
		margin-left: 20px;
		@media screen and (max-width: $sp-max-width) {
			font-size: 16px;
			margin-left: 0;
		}
	}
	.h3 {
		font-size: 20px;
		margin-left: 40px;
		margin-bottom: 20px;
		@media screen and (max-width: $sp-max-width) {
			font-size: 14px;
			margin-left: 0;
		}
	}
	.p {
		padding: 5px;
		margin-left: 40px;
		margin-bottom: 20px;
		@media screen and (max-width: $sp-max-width) {
			margin-left: 0;
		}
	}
	.code {
		background: $white-skelton;
		color: $red-purple;
		font-weight: bold;
		padding: 2px 5px;
		border-radius: 4px;
	}
	.img-box {
		margin-bottom: 20px;
		margin-left: 40px;
		@media screen and (max-width: $sp-max-width) {
			margin-left: 0;
		}
		img {
			width: 100%;
			height: auto;
			max-width: $sp-max-width;
			border: 1px solid $white;
			@media screen and (max-width: $sp-max-width) {
				max-width: 300px;
			}
		}
	}
}
