/** レイアウト設定 **/

// サイドメニューエリア
.aside {
	width: 15%;
	@media screen and (max-width: $sp-max-width) {
		width: 30%;
	}
}

// コンテンツエリア
.contents {
	width: 100%;

	// ヘッダーエリア
	.header {

	}

	// メインエリア
	.main {

	}
}
