/** レイアウト設定 **/

// サイドメニューエリア
.aside {
	overflow: scroll;
	position: fixed;
	top: $header-height;
	right: 0;
	width: 35%;
	height: 100%;
	padding: 20px;
	background: $dark-grey-skelton;
	backdrop-filter: blur(10px);
	color: $light-blue;
	border-left: 1px solid $light-blue;
	z-index: $z-index-aside;
	@media screen and (max-width: $sp-max-width) {
		width: 100%;
		border-left: none;
		border-bottom: 1px solid $light-blue;
	}
}

// コンテンツエリア
.contents {
	width: 100%;

	// ヘッダーエリア
	.header {
		max-width: $screen-max-width;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		margin: auto;
		padding: 0 20px;
		background: $dark-grey;
		color: $light-blue;
		width: 100%;
		height: $header-height;
		border-bottom: 1px solid $light-blue;
		z-index: $z-index-header;
		@media screen and (max-width: $sp-max-width) {
			padding: 0;
		}

	}

	// メインエリア
	.main {
		padding-top: $header-height;
		width: 100%;
		background: $white;
	}
}
