/** レイアウト設定 **/

// サイドメニューエリア
.aside {
	position: absolute;
	top: $header-height;
	left: 0;
	width: 30%;
	height: 100%;
	padding: 20px;
	background: $dark-grey;
	color: $light-blue;
	@media screen and (max-width: $sp-max-width) {
		position: fixed;
		width: 100%;
		height: 30%;
		border-top: 1px solid $light-blue;
	}
}

// コンテンツエリア
.contents {
	width: 100%;

	// ヘッダーエリア
	.header {
		position: fixed;
		top: 0;
		left: 0;
		padding: 0 20px;
		background: $dark-grey;
		color: $light-blue;
		width: 100%;
		height: $header-height;
		@media screen and (max-width: $sp-max-width) {
		}

	}

	// メインエリア
	.main {
		padding: 20px;
		padding-top: $header-height;
		width: 100%;
		background: $white;
	}
}
