/** サイドエリア設定 **/
// 変数設定
@import '../variable';

.sideList {
	font-size: 18px;
	margin-bottom: 5px;
	@media screen and (max-width: $sp-max-width) {
		font-size: 15px;
	}
	&Children {
		margin-left: 1em;
	}
}

.sideListText {
	display: inline;
	padding: 5px;
	&:hover {
		background: $white-skelton;
	}
}
