/** サイドエリア設定 **/
// 変数設定
@import '../variable';

// リストの設定
.sideList {
	font-size: 18px;
	margin-bottom: 5px;
	@media screen and (max-width: $sp-max-width) {
		font-size: 15px;
	}
	// 文字の設定
	&Text {
		display: inline;
		padding: 5px;
		&:hover {
			background: $white-skelton;
		}
	}

	// 子リストの設定
	&Children {
		margin-left: 1em;
	}
}

