/** ヘッダーエリア設定 **/
// 変数設定
@import '../variable';

// ヘッダーの各パーツ設定
.headerList {
	li {
		display:inline;
	}
}

// メニューボタン（≡）設定
.menuBtn {
	position: absolute;
	top: 0px;
	right: 20px;
	font-size: 30px;
}

// Reactヘッダーロゴ設定
.headerLogo {
	position: relative;
	top: 6px;
	left: 0px;
	img {
		width: 100%;
		height: auto;
		max-width: 50px;
	}
}

// ヘッダータイトル設定
.headerTitle {
	font-size: 20px;
	position: relative;
	top: -4px;
	left: 0px;
}

// アニメーション設定
.animation {
	animation: spin infinite 20s linear;
}
