/** セレクトボックス設定 **/
// 変数設定
@import './../variable';

.title {
	font-weight: bold;
	&:before {
		content: "■ "
	}
}
.content {
	padding: 20px 0;
}
.openModal {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	border-radius: 4px;
	background: $dark-grey;
	color: $light-blue;
	border: 2px solid $light-blue;
	padding: 4px;
}
.closeModal {
	width: 100px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	border-radius: 4px;
	background: $dark-grey;
	color: $light-blue;
	border: 2px solid $light-blue;
	padding: 2px;
}
