/** セレクトボックス設定 **/
// 変数設定
@import './../variable';

.box {
	text-align: center;
	font-size: 30px;
	.red {
		height: auto;
	    padding: 20px;
		background: red;
	}
	.yellow {
		height: auto;
	    padding: 20px;
		color: $black;
		background: $yellow;
	}
	.green {
		height: auto;
	    padding: 20px;
		background: $green;
	}
	.blue {
		height: auto;
	    padding: 20px;
		background: $blue;
	}
	.purple {
		height: auto;
	    padding: 20px;
		background: $purple;
	}
}
